[user]
	name = Keenan Johns
	email = keenanjj13@gmail.com
	signingkey = 6C32D9329BDB7DA9

[commit]
	gpgsign = true

[tag]
	gpgSign = true

[gpg]
	program = gpg

[core]
	editor = nvim
	excludesfile = ~/.gitignore_global
	autocrlf = input
	
[pull]
	rebase = false

[init]
	defaultBranch = main

[merge]
	tool = nvimdiff

[diff]
	tool = nvimdiff

[credential "https://github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential

[credential "https://gist.github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
