[user]
	name = Keenan Johns
	email = keenanjj13@protonmail.com
	signingkey = 665F3EDCE9AB996D

[commit]
	gpgsign = true

[tag]
	gpgSign = true

[gpg]
	program = gpg

[core]
	editor = nvim
	excludesfile = ~/.gitignore_global
	autocrlf = input
	
[pull]
	rebase = false

[init]
	defaultBranch = main

[merge]
	tool = nvimdiff

[diff]
	tool = nvimdiff
