layout {
  // Appiles to all basic tabs. Makes sure there is tab bar and status bar
  default_tab_template {
    pane size=1 borderless=true {
      plugin location="zellij:tab-bar"
    }

    children

    pane size=2 borderless=true {
      plugin location="zellij:status-bar"
    }
  }

  // Puts the terminal under the code
  pane_template name="dev_under_files" {
    pane split_direction="vertical" {
      children

      pane split_direction="horizontal" size="20%" {
        pane command="npm" {
            args "run" "dev"
        }

        pane command="tsc" {
            args "--watch"
        }
      }
    }
  }

  tab_template name="strider_tab" {
    pane size=1 borderless=true {
      plugin location="zellij:tab-bar"
    }
    pane split_direction="Vertical" {
      children
      pane size="15%" {
        plugin location="zellij:strider"
      }
    }
    pane size=2 borderless=true {
      plugin location="zellij:status-bar"
    }
  }

  // Where to edit code
  tab name="Client (root)" focus=true cwd="./" {
    dev_under_files split_direction="vertical" {
      pane command="nvim"
    }
  }

  // For git
  tab name="LazyGit" cwd="./" {
    pane command="lazygit"
  }

  // For tweaking configs if needed
  strider_tab name="Configs" cwd="~/.config" {
    pane
  }

  // Scratch pad
  strider_tab name="Tools" cwd="./" {
    pane
  }
}
